* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
}
/* header section */
header {
    background: #1F2937;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    gap: 20px;
}

ul li {
    font-size: 18px;
    list-style: none;
}

li a {
    color: #E5E7EB;
    text-decoration: none;
}

/* hero section */

.hero-section {
    background: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
}

.hero-info {
    width: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

.hero-info h2 {
    font-size:48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-info p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-btn {
    width: 110px;
    background: #3882F6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 15px;
}

.sign-up-btn a {
    font-weight: 600;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-image {
    border-radius: 8px;
}

/* products section */

.products-section {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 30px;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 40px;
}

.products {
    display: flex;
}

.product {
    width: 180px;
    padding: 20px;
}

.products img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(54, 54, 54);
}

.product p {
    color: #1F2937;
    margin-top: 15px;
    text-align: center;
}

/* quote section */

.quote-section {
    background: #E5E7EB;
    height: 400px;
}

blockquote {
    width: 800px;
    margin: auto;
    padding-top: 80px;
}

.quote-text {
    font-size: 35px;
    color: #1F2937;
    font-style: italic;
}

.author {
    font-size: 20px;
    font-weight: 800;
    float: right;
}